<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initialscale=1.0">
 <title>Actualizar Laboratorio</title>
</head>
<style>
 table {
    border: 8px outset;
    border-radius: 10px;
    border-spacing: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
 }
 th,
 td {
    padding: 5px;
 }
</style>
<body>
    <h2 style="text-align:center"> Actualizar Laboratorio</h2>
    <form action="actualizarlaboratorio/{{ laboratorio.id }}"method="POST">
        {% csrf_token %}
        <table style="width:50%" align="center">
            <tr>
                <td>Nombre</td>
            <td><input type="text" value="{{ laboratorio.nombre }}" name="nombre"</td>
            </tr>
            <tr>
                <td>Ciudad</td>
            <td><input type=" text" value="{{ laboratorio.ciudad }}" name="ciudad" </td>
            </tr>
            <tr>
                <td>Pais</td>
                <td><input type="text" value="{{ laboratorio.pais}}" name="pais" </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" class="btn btn-success"> </td>
            </tr>
        </table>
    </form>
</body>
</html>